@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] svg.syntax-diagram path {
    stroke: var(--color-foreground-secondary);
  }
}

body[data-theme="dark"] svg.syntax-diagram path {
  stroke: var(--color-foreground-secondary);
}

svg.syntax-diagram .escape {
  fill: var(--color-api-name);
}
